/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-list-item {
	width: 200px;
	height: 200px;
	@apply rounded-xl;
	@apply shadow-lg;
	@apply bg-gray-700;
	@apply shadow-gray-700/50;
	@apply dark:bg-gray-500;
	@apply dark:shadow-gray-500/50;
	@apply transition-transform;
	@apply hover:-rotate-3;
	@apply cursor-pointer;
}
